### OS & Environment ###
.DS_Store
.env*
*.log*

### Backend (Spring Boot / Maven) ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Frontend ###
# Only React specific ignores since Vue has its own .gitignore in subdirectory.
node_modules/
dist/
build/
*.local

### IDEs & Dev Tools ###
.devcontainer/
.idea/
.vscode/
.zed/
*.code-workspace
*.iml
*.ipr
*.iws
