### OS & Environment ###
.DS_Store
.env*
*.log*

### Backend (Spring Boot / Maven) ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Frontend ###
# Only React specific ignores since Vue has its own .gitignore in subdirectory.
node_modules/
dist/
build/
*.local

### IDEs & Dev Tools ###
.idea/
.vscode/
.devcontainer/
*.code-workspace
